extends ../layout
block content
  div(class="weather-main-container")  
    h1  #{data.city}
    div(class='date-container') 
      label #{data.date}
    div(class='weather-icon-container')    
      img(src=data.icon alt='' style ="width: 50px, heigt: 50px")
    div(class='temperature-container') 
      label #{data.temperature}
    p(class='description-container') 
      label #{data.description} 
    p(class='feels-like-container') 
      label Feels like #{data.feels_like}
    p(class='min-max-container')
      label #{data.min_temperature}/ #{data.max_temperature}

