extends ../layout

block content
   h1  #{data.city}
     div(class='date-container') 
       label #{data.date}
     div(class='weather-icon-container') 
       label #{data.icon} 
     div(class='temperature-container') 
       label #{data.temperature}
     div(class='description-container') 
       label #{data.description} 
     div(class='feels-like-container') 
       label #{data.feels_like}
     div(class='min-max-container')
       label #{data.min_temperature}/ #{data.max_temperature}

